/* index.css */

body.background {
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
}

#black {
    color: black;
}

h1.point {
    text-align: center;
    color: #0088CC; /* Telegram blue */
    margin-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.login-page {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

form {
    background-color: #f8f8f8;
    border: 2px solid #0088CC; /* Telegram blue */
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1, form h3 {
    color: #0088CC; /* Telegram blue */
    text-align: center;
}

form p.email {
    font-size: 1.2em;
    color: #0088CC; /* Telegram blue */
}

form p.email black {
      color: black;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #0088CC; /* Telegram blue */
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0088CC; /* Telegram blue */
    border: none;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005F99; /* Slightly darker shade for hover effect */
}

footer#down {
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

footer#down p {
    margin: 0;
    padding: 0;
}

